@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes scroll {
  0% { transform: translateY(0); opacity: 1; }
  50% { transform: translateY(8px); opacity: 0.5; }
  100% { transform: translateY(0); opacity: 1; }
}

.animate-scroll {
  animation: scroll 1.6s infinite;
}
html {
  scroll-behavior: smooth;
}
